fastapi[standard]==0.115.8
haystack-ai==2.9.0
python-dotenv==1.0.1
mongodb-atlas-haystack==1.0.0
sentence-transformers==3.4.1
redis==5.2.1
torch
torchvision
pillow
pillow-heif
timm
groq
httpx
opencv-python-headless